{% extends "new/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<!-- Sezione Gestione Libri -->
{% set section_title = "Gestione Libri" %}
{% set buttons = btn_libri %}
{% include "new/button_section.html" %}

<!-- Sezione Gestione Prestiti -->
{% set section_title = "Gestione Prestiti" %}
{% set buttons = btn_prestiti %}
{% include "new/button_section.html" %}

<!-- Sezione Gestione Studenti -->
{% set section_title = "Gestione Studenti" %}
{% set buttons = btn_studenti %}
{% include "new/button_section.html" %}

{% endblock %}